---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="page-wrapper">
      <Header />
      <main>
        <div style="text-align: center; margin-top: 4rem;">
          <h1 style="font-size: 2rem;">
            Thanks for visiting House Rifle Company,<br />
            our site is currently under construction.
          </h1>
          <p style="font-size: 1rem; margin-top: 1rem; color: gray;">
            Check back soon for exciting changes coming soon!
          </p>
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
  html, body {
    height: 100%;
    margin: 0;
  }

  .page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1;
  }
</style>