---
const today = new Date();
---

<footer>
  <p>&copy; {today.getFullYear()} House Rifle Company. All rights reserved.</p>
</footer>

<style>
  footer {
    padding: 2em 1em 3em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
    font-size: 0.9rem;
    margin-top: auto;
  }
</style>